.header {
    height: 65px;
    width: 100%;
    text-align: center;
    background-color: red;
    border-radius: 32.5px;
}

h1 {
    font-size: 50px;
}

.api {
    height: 100px;
    width: 25%;
    padding: 12px;
    border: 5px solid black;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.topic {
    height: 100px;
    width: 25%;
    padding: 12px;
    border: 5px solid black;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 80%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid rgb(11, 0, 0);
    border-radius: 4px;
}

button {
    background: #eee;
    padding: 6px 12px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #f9d2d2;
}

footer {
    height: 15px;
    width: 100%;
    text-align: center;
    background-color: red;
    border-radius: 7.5px;
}

.search-container {
    text-align: center;
}


img {
    width: 300px;
    height: auto;
}

.details {
    font-size: 20px;
    font-weight: bold;
}

.watch-container {
    text-align: center;
}

#error {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}